body {
    font-family: 'Roboto', sans-serif;
}

.todo {
    height: 70px;
}

.todo-text {
    flex-grow: 1;
}

.todo.completed .todo-text {
    text-decoration: line-through;
    opacity: 0.5;
}

.todo.completed .fa-check-square {
    opacity: 0.5;
}

.todo-edit {
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    z-index: 1010;
    width: auto;
}

.todo-app .table {
    text-align: right;
    margin-bottom: 0;
    width: auto;
}

.todo-app .table th,
.todo-app .table td {
    padding-top: 0;
    padding-bottom: 0;
}

.todo-app .stopwatch-time {
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 2px;
}
